@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */
.full-height {
    height: 100vh;
}

/* ---------------------------------------- */
/* Components */

button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #ca7030;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

/* ---------------------------------------- */
/* Bootstrap Component Overrides */

/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.60);
}

.nav-link:hover {
    color: #302779;
}

.nav-link.active {
    border-bottom: 2px solid #302779;
    color: #302779;
}

.navbar {
    background-color: rgb(255, 201, 172);
}


/* Carousel */

.carousel-item {
    background-color: rgb(255, 201, 172);
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}

/* Card */

.card {
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}

/* ---------------------------------------------------------------- */
/* Home Page */

.hero-image {
    height: 90vh; 
    position: relative;
    bottom: -100px;
}

/* Styling for accordion */
.accordion {
    display: flex;
    flex-direction: column;
  }
  
  .accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  
  .accordion-item-header {
    font-weight: bold;
    cursor: pointer;
  }
  
  .accordion-item-content {
    display: none;
    margin-top: 10px;
  }
  
  /* Styling for accordion icons */
  .accordion-item-header::after {
    content: "\25BE"; /* Down arrow */
    float: right;
  }
  
  .accordion-item.active .accordion-item-header::after {
    content: "\25B4"; /* Up arrow */
  }

  /* Styling for trip cards */
.tripcard {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
  }
  
  .tripcard.active {
    border-color: #007bff; /* Change color to indicate active */
  }
  
  .tripcard .trip-info {
    font-weight: bold;
  }
  
  .tripcard .trip-details {
    margin-top: 10px;
  }  

.h2 {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 201, 172);
  }
  
  .footer-left,
  .footer-middle,
  .footer-right {
    flex: 1;
    text-align: center;
  }
  
  .footer-left p {
    margin: 0;
    color: white;
  }
  
  .footer-middle img {
    max-width: 100px;
  }
  
  .footer-right a {
    color: white;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .footer-right a:hover {
    color: #ddd;
  }
  
  .row{
    display: flex;
  }

  .btn{
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    background-color: rgb(255, 201, 172);
    border: none;
    margin: 10px;
  }
  
  .btn.secondary{
    background-color: rgb(203, 131, 93);
  }
  
  .btn:hover{
    background-color: rgb(203, 131, 93);
    transition: 0.3s;
  }
  
  .btn:active{
    background-color: rgb(255, 201, 172);
  }
  
  .btn.secondary:active{
    background-color: rgb(255, 201, 172);
  }

.vinyls-sold-banner{
    color: rgb(255, 201, 172);
}
  
.vinyls-sold-number{
    color:  rgb(203, 131, 93);
} 
  
.c-card{
    background-color: white;
    padding: 32px;
}
  
.c-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
}
  
.c-btn:active {
    transform: scale(1.1);
}
  
.c-btn-prev {
    top: 150px;
    left: 2%;
}
  
.c-btn-next {
    top: 150px;
    right: 2%;
}
  
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
  
.section select{
    width: 4rem;
}
  
.section label{
    color: rgb(203, 131, 93);
}
  
.vinyl_section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.vinyls-sold-banner{
  text-align: center;
  color: rgb(203, 131, 93);
}

.vinyls-sold-number{
  color: rgb(255, 201, 172);
}
  
.row{
    display: flex;
    justify-content: space-evenly;
}

.container{
  margin-left: auto;
  margin-right: auto;
}
  
#items-in-cart{
    background-color:  rgb(203, 131, 93);
    color: white;
    border-radius: 100%;
    font-size: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -15px;
}
  
.primary-button a {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 15px;
    width: auto;
    padding: 0px 18px;
    height: 36px;
    background-color:  rgb(203, 131, 93);
    font-size: 13px;
    color: #121212;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 36px;
}

.weather-widget {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weather-header {
  text-align: center;
  margin-bottom: 10px;
}

.weather-content {
  text-align: center;
}

.location {
  font-size: 18px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

